<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="Lock PC" value="блокировать^true" />
    <add key="Log out" value="выйти^true" />
    <add key="Restart PC" value="перезагрузка^false" />
    <add key="Turn off PC" value="вырубай^false" />
  </appSettings>
</configuration>